body{
  margin: 0;
  padding: 0;
}

.sign-up {
  margin: 5vh auto;
}

form{
  display: block;
  margin: 0 auto;
  max-width: 45vw;
}
form button {
  padding: 0;
  width: 45vw;
  }

.close {
  float:right;
  font-size: 18px;
}

.sign-up {
  margin: 6vh auto 2vh auto;
  max-width: 600px;
}

.carousel-caption h3{
  font-size: 8vw;
  text-shadow: 2px 2px #0e0f13a8;
}

.carousel-caption p{
  font-size:2.3vw;
  text-shadow: 2px 2px #0e0f13a8;
}

.container .card {
  margin-top: 3vh;
}

.container .row:last-child{
  margin-bottom: 15vh;
}

.carousel-item {
  postion:relative;
}

.carousel-caption  {
  position: absolute;
  top:18vh;
  right:40vw;
}

.carousel-caption button{


}


@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

input {
  max-width:20vw;
  }

form button {
  margin: 0;
  max-width:10vw;
  }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .carousel-caption  {
    position: absolute;
    top:28vh;
    right:40vw;
  }
}
